.container {
    display: flex;
    width:1000px;
    height: 1000px;
    background-color: lightblue;
}

.jcCenter {
    justify-content: center;
    font-size:50px;
}

.jcFlexstart {
    justify-content: flex-start;
    background-color: blue;
}

.aiCenter {
    align-items: center;
    background-color: red;
}