.container {
    display: flex;
    width:1000px;
    height: 1000px;
    background-color: lightblue;
}

.jc-center {
    justify-content: center;
    font-size:50px;
}

.jc-flexstart {
    justify-content: flex-start;
}

.ai-center {
    align-items: center;
    background-color: red;
}