.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.timerBtn{
  padding: 20px 30px;
  margin-bottom: 30px;
  background-color: green;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 20px;
}

.timerBtn:hover {
  background-color:red;
}